/* barcharts.css - this file is to be included by other CSS files,
 * so as to reduce duplication.
 */


/* The bar charts
 *
 * Each row of the chart is a summary element for details that
 * can be expanded.  Each summary has a triangle to let people know they
 * can expand the entry, put there by the browser as the default ::marker
 * for summary.
 *
 * After that is the element or attribute name (div.name), then the
 * count (div.value), and then the bar (div.bar).
 * 
 * The div.bar has width set in its HTML style attribute to be a percentage,
 * e.g. width: 50% for a bar representing half of the maximum value. For this
 * to work (check it by holding a ruler up to the screen!) the value is made
 * with a negative margin, so it sits to the left of the 0% point. Otherwise
 * it takes up some of the available space and a bar of 100% doesn't fit on
 * the line.
 */

div.counts>details>summary>div.name {
    display: inline-block;
    min-width: calc(18em - var(--maxdigits) * 1ch - 3ch);
    text-align: right;
    width: fit-content;
    width: -moz-fit-content;
    margin-left: -3em;
    margin-right: 3em;
    background-color: #fffdef;
}
div.counts>details>summary>div.freq {
    display: inline-block;
    width: calc(100% - 18em + var(--maxdigits) * 1ch);
    /* leave room for marker and name */
    position: relative; /* so we can use absolute for the bar */
}
.value {
    width: calc(var(--maxdigits) * 1ch +  1ch);
    margin-right: 0.1em;
    margin-left: -3.2em;
    text-align: right;
    display: inline-block;
}
div.bar {
    display: inline-block;
    min-width: 0.1rem;
    position:  absolute;
    left: 0.5rem;
    top: 0;
}

/* Colours
 * See https://www.colorzilla.com/gradient-editor/
 * for one way to generate these gradients.
 * Another way might be to use a CSS grid with 100 columns,
 * and a data attibute. The current XSLT generates class attributes
 * you could use for this. You also get a percentile, e.g. percentile-025
 * to mean between >= 25 percent and < 50%. The values are 000, 025, 050,
 * 075 and 100.
 */

div.element-colours div.freq .bar {
    background-color: pink;
    display: inline-block;
}

/* Sets of colours for elements (red) and attributes (blue)
 * Here we use linear gradients to give them a rounded look.
 * First, a simple version for older browsers:
 */

div.element-colours div.freq.quartile-100 .bar { background-color: #ff0000; }
div.element-colours div.freq.quartile-050 .bar { background-color: #ce0d00; }
div.element-colours div.freq.quartile-025 .bar { background-color: #ce0d00; }
div.element-colours div.freq.quartile-000 .bar { background-color: #aa3300; }

div.attribute-colours div.freq.quartile-100 .bar { background-color: #32ffec; }
div.attribute-colours div.freq.quartile-075 .bar { background-color: #65e1d6; }
div.attribute-colours div.freq.quartile-050 .bar { background-color: #58b3aa; }
div.attribute-colours div.freq.quartile-025 .bar { background-color: #569790; }
div.attribute-colours div.freq.quartile-000 .bar { background-color: #396863; }

/* Now the more complicated versions using gradients */

div.element-colours div.freq.quartile-100 .bar {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff3232+8,ff0000+56,ce0d00+91&0.35+2,1+13 */
    background: -moz-linear-gradient(top,  rgba(255,50,50,0.35) 2%, rgba(255,50,50,0.7) 8%, rgba(255,45,45,1) 13%, rgba(255,0,0,1) 56%, rgba(206,13,0,1) 91%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,50,50,0.35) 2%,rgba(255,50,50,0.7) 8%,rgba(255,45,45,1) 13%,rgba(255,0,0,1) 56%,rgba(206,13,0,1) 91%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,50,50,0.35) 2%,rgba(255,50,50,0.7) 8%,rgba(255,45,45,1) 13%,rgba(255,0,0,1) 56%,rgba(206,13,0,1) 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ff3232', endColorstr='#ce0d00',GradientType=0 ); /* IE6-9 */
}

div.element-colours div.freq.quartile-075 .bar {
    background: -moz-linear-gradient(top,  rgba(200,50,50,0.35) 2%, rgba(200,50,50,0.7) 8%, rgba(200,45,45,1) 13%, rgba(200,0,0,1) 56%, rgba(206,13,0,1) 91%); /* FF3.6-15 */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f23030+8,cc2828+56,b21711+91&0.35+2,1+13 */
background: -moz-linear-gradient(top,  rgba(242,48,48,0.35) 2%, rgba(242,48,48,0.7) 8%, rgba(238,47,47,1) 13%, rgba(204,40,40,1) 56%, rgba(178,23,17,1) 91%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(242,48,48,0.35) 2%,rgba(242,48,48,0.7) 8%,rgba(238,47,47,1) 13%,rgba(204,40,40,1) 56%,rgba(178,23,17,1) 91%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(242,48,48,0.35) 2%,rgba(242,48,48,0.7) 8%,rgba(238,47,47,1) 13%,rgba(204,40,40,1) 56%,rgba(178,23,17,1) 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59f23030', endColorstr='#b21711',GradientType=0 ); /* IE6-9 */

}

div.element-colours div.freq.quartile-050 .bar {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d83636+8,b22c2c+56,b21711+91&0.35+2,1+13 */
background: -moz-linear-gradient(top,  rgba(216,54,54,0.35) 2%, rgba(216,54,54,0.7) 8%, rgba(212,53,53,1) 13%, rgba(178,44,44,1) 56%, rgba(178,23,17,1) 91%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(216,54,54,0.35) 2%,rgba(216,54,54,0.7) 8%,rgba(212,53,53,1) 13%,rgba(178,44,44,1) 56%,rgba(178,23,17,1) 91%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(216,54,54,0.35) 2%,rgba(216,54,54,0.7) 8%,rgba(212,53,53,1) 13%,rgba(178,44,44,1) 56%,rgba(178,23,17,1) 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59d83636', endColorstr='#b21711',GradientType=0 ); /* IE6-9 */
}

div.element-colours div.freq.quartile-025 .bar {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cc3d3d+8,aa3b3b+56,8c2623+91&0.35+2,1+13 */
background: -moz-linear-gradient(top,  rgba(204,61,61,0.35) 2%, rgba(204,61,61,0.7) 8%, rgba(200,61,61,1) 13%, rgba(170,59,59,1) 56%, rgba(140,38,35,1) 91%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(204,61,61,0.35) 2%,rgba(204,61,61,0.7) 8%,rgba(200,61,61,1) 13%,rgba(170,59,59,1) 56%,rgba(140,38,35,1) 91%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(204,61,61,0.35) 2%,rgba(204,61,61,0.7) 8%,rgba(200,61,61,1) 13%,rgba(170,59,59,1) 56%,rgba(140,38,35,1) 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59cc3d3d', endColorstr='#8c2623',GradientType=0 ); /* IE6-9 */
}

div.element-colours div.freq.quartile-025 .bar {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bf4242+8,934242+56,8c2623+91&0.35+2,1+13 */
background: -moz-linear-gradient(top,  rgba(191,66,66,0.35) 2%, rgba(191,66,66,0.7) 8%, rgba(186,66,66,1) 13%, rgba(147,66,66,1) 56%, rgba(140,38,35,1) 91%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(191,66,66,0.35) 2%,rgba(191,66,66,0.7) 8%,rgba(186,66,66,1) 13%,rgba(147,66,66,1) 56%,rgba(140,38,35,1) 91%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(191,66,66,0.35) 2%,rgba(191,66,66,0.7) 8%,rgba(186,66,66,1) 13%,rgba(147,66,66,1) 56%,rgba(140,38,35,1) 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bf4242', endColorstr='#8c2623',GradientType=0 ); /* IE6-9 */
}

div.element-colours div.freq.quartile-000 .bar {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ad4545+8,7f3f3f+56,7f2e2c+91&0.35+2,1+13 */
background: -moz-linear-gradient(top,  rgba(173,69,69,0.35) 2%, rgba(173,69,69,0.7) 8%, rgba(168,68,68,1) 13%, rgba(127,63,63,1) 56%, rgba(127,46,44,1) 91%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(173,69,69,0.35) 2%,rgba(173,69,69,0.7) 8%,rgba(168,68,68,1) 13%,rgba(127,63,63,1) 56%,rgba(127,46,44,1) 91%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(173,69,69,0.35) 2%,rgba(173,69,69,0.7) 8%,rgba(168,68,68,1) 13%,rgba(127,63,63,1) 56%,rgba(127,46,44,1) 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ad4545', endColorstr='#7f2e2c',GradientType=0 ); /* IE6-9 */

}

div.attribute-colours div.freq.quartile-100 .bar {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#32fffb+8,00fffa+56,00ccc8+91&0.35+2,1+13 */
background: -moz-linear-gradient(top,  rgba(50,255,251,0.35) 2%, rgba(50,255,251,0.7) 8%, rgba(45,255,251,1) 13%, rgba(0,255,250,1) 56%, rgba(0,204,200,1) 91%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(50,255,251,0.35) 2%,rgba(50,255,251,0.7) 8%,rgba(45,255,251,1) 13%,rgba(0,255,250,1) 56%,rgba(0,204,200,1) 91%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(50,255,251,0.35) 2%,rgba(50,255,251,0.7) 8%,rgba(45,255,251,1) 13%,rgba(0,255,250,1) 56%,rgba(0,204,200,1) 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5932fffb', endColorstr='#00ccc8',GradientType=0 ); /* IE6-9 */

}

div.attribute-colours div.freq.quartile-075 .bar {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a0fffb+8,80cece+56,80ccc9+91&0.35+2,1+13 */
background: -moz-linear-gradient(top,  rgba(160,255,251,0.35) 2%, rgba(160,255,251,0.7) 8%, rgba(157,250,246,1) 13%, rgba(128,206,206,1) 56%, rgba(128,204,201,1) 91%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(160,255,251,0.35) 2%,rgba(160,255,251,0.7) 8%,rgba(157,250,246,1) 13%,rgba(128,206,206,1) 56%,rgba(128,204,201,1) 91%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(160,255,251,0.35) 2%,rgba(160,255,251,0.7) 8%,rgba(157,250,246,1) 13%,rgba(128,206,206,1) 56%,rgba(128,204,201,1) 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59a0fffb', endColorstr='#80ccc9',GradientType=0 ); /* IE6-9 */
}
div.attribute-colours div.freq.quartile-050 .bar { background-color: #9bf5f5; }
div.attribute-colours div.freq.quartile-025 .bar { background-color: #9bf5f5; }
div.attribute-colours div.freq.quartile-000 .bar {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a0fffb+8,9bf5f5+56,88d8d4+91&0.35+2,1+13 */
background: -moz-linear-gradient(top,  rgba(160,255,251,0.35) 2%, rgba(160,255,251,0.7) 8%, rgba(159,254,250,1) 13%, rgba(155,245,245,1) 56%, rgba(136,216,212,1) 91%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(160,255,251,0.35) 2%,rgba(160,255,251,0.7) 8%,rgba(159,254,250,1) 13%,rgba(155,245,245,1) 56%,rgba(136,216,212,1) 91%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(160,255,251,0.35) 2%,rgba(160,255,251,0.7) 8%,rgba(159,254,250,1) 13%,rgba(155,245,245,1) 56%,rgba(136,216,212,1) 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59a0fffb', endColorstr='#88d8d4',GradientType=0 ); /* IE6-9 */

}


