@import "bar-charts.css";

:root {
    --muddy-yellow: #72724a;
}

div.bar {
    /* because black on white is not visible to everyone,
     * we'll add a bright right-hand tip to the bar that will show
     * up on a dark background:
     */
    border-right: 1px solid yellow;
}

/* a narrow font for element names */

/* pt-sans-narrow-regular - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: url('fonts//pt-sans-narrow-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
       url('fonts//pt-sans-narrow-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts//pt-sans-narrow-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts//pt-sans-narrow-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts//pt-sans-narrow-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts//pt-sans-narrow-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
}

/* oswald-regular - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/oswald-v35-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
       url('fonts/oswald-v35-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/oswald-v35-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/oswald-v35-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/oswald-v35-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/oswald-v35-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}

html {
    color: yellow;
    background-color: black;
    line-height: 1.3;
    background-image: url(hextile.png);
    font-family: "PT Sans Narrow", sans-serif;
}

a { background-color: black; color:  yellow; }
a:link { background-color: black; color:  yellow; }
a:visited { background-color: black; color:  yellow; }
a:hover { background-color: var(--muddy-yellow); color:  white; }
a:active { background-color: var(--muddy-yellow); color:  white; }

h1, h2, h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
h1 .name, h2 .name, h3 .name {
    font-family: 'Oswald';
}

section.summary p, section.summary details {
    margin-left: 3em;
}

div.counts>details {
    border-top: 2px dotted black;
    border-bottom: 2px dotted black;
}

div.counts>details:hover {
    border-top: 2px dotted var(--muddy-yellow);
    border-bottom: 2px dotted var(--muddy-yellow);
}

div.counts>details {
    margin-left: 3em;
}
div.counts>details>summary {
    margin-bottom: 0.1rem; /* separate the lines */
    margin-left: -3em;
}

/* Make names of elements, attributes and configuration variables
 * be narrow; PT Sans Narrow is condensed but very readable.
 */
.name {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
}

